@import url('./utilities.css');

body {

    background-color: var(--colour-page-bg);

    background-image: url('../img/bg.png');
    background-size: cover;

    font-family: "Segoe UI", Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: space-evenly;
    align-content: center;

}

#body-container {

    position: absolute;
    top: 50%;
    transform: translate(0, -52%);

}

#login-container {

    width: fit-content;
    margin: auto;

    background-color: white;
    box-shadow: 0px 2px 5px var(--colour-shadows);

    padding: 1rem;
    border-radius: 4px;

}

#title {

    width: 27rem;

    margin-bottom: 3rem;

}

#login-form > div > input {

    width: 15rem;

    padding: .5rem;
    border: 1px solid #ced4da;
    border-radius: 4px;

    font-size: 1rem;
    color: #495057;

    font-family: inherit;

}

input::placeholder {
    
    font-family: inherit;
    
}

a {

    color: var(--colour-iom-red);

}

#btn-login {

    width: 100%;
    margin-top: 1rem;

    font-family: inherit;
    padding: .5rem;
    font-size: 1rem;

    background-color: var(--colour-iom-yellow);
    border: none;

    border-radius: 4px;

    color: white;
    font-weight: 600;

}

#no-account {

    display:inline-block;
    margin-top: .4rem;
    width: 100%;
    text-align: right;
    font-size: .8rem;

}

.input-group {

    display: flex;
    justify-content: center;

}

.input-group > input {

    border-left: none !important;

    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

}

.input-label {

    padding: .5rem;
    width: 1.5rem;

    text-align: center;

    background-color: #e9ecef;
    border: 1px solid #ced4da;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    color: #495057;

}