@import url('./utilities.css');

body {

    background-color: var(--colour-page-bg);

    background-image: url('../img/bg.png');
    background-size: cover;

    font-family: "Segoe UI", Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: space-evenly;
    align-content: center;

}

#body-container {

    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.15);
    padding: 0rem 10rem;

}

#login-container {

    width: fit-content;
    margin: 0 auto;

    background-color: white;
    box-shadow: 0px 2px 5px var(--colour-shadows);

    padding: 1rem;
    border-radius: 4px;

}

#group-confirm, #group-register {

    display: none;

}

#title {

    width: 24rem;

    margin-top: -1rem;
    margin-bottom: 3rem;
    filter: drop-shadow(0px 0px 25px rgba(27, 27, 29, 0.8));

}

input {

    width: 15rem;

    padding: .5rem;
    border: 1px solid #ced4da;
    border-radius: 4px;

    font-size: 1rem;
    color: #495057;

    font-family: inherit;

}

input::placeholder {
    
    font-family: inherit;
    
}

a {

    color: var(--colour-iom-red);
    cursor: pointer;
    text-decoration: underline;

}

#btn-login, #btn-register {

    width: 100%;
    margin-top: 1rem;

    font-family: inherit;
    padding: .5rem;
    font-size: 1rem;

    background-color: var(--colour-iom-yellow);
    border: none;

    border-radius: 4px;

    color: white;
    font-weight: 600;

    cursor: pointer;

    transition: .1s;

}

#btn-login:hover, #btn-register:hover {

    box-shadow: inset 0 0 100px 100px rgba(50, 0, 0, 0.1);

}

#no-account, #have-account {

    display:inline-block;
    margin-top: .8rem;
    width: 100%;
    text-align: right;
    font-size: .8rem;

}

#verification {

    display: none;

    font-size: .8rem;
    margin-top: .5rem;

    color: var(--colour-text-error);

}

.input-group {

    display: flex;
    justify-content: center;

}

.input-group > input {

    border-left: none !important;

    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

}

.input-label {

    padding: .5rem;
    width: 1.5rem;

    text-align: center;

    background-color: #e9ecef;
    border: 1px solid #ced4da;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    color: #495057;

}