:root {

    --colour-page-bg: rgb(161, 163, 165);
    --colour-shadows: rgba(0, 0, 0, 0.15);

    --colour-btn-red: #b74543;
    --colour-btn-blue: #437fb7;
    --colour-btn-green: #43b78d;
    --colour-btn-dark: #57575e;

    --colour-borders: #474747;

    --colour-iom-yellow: #e5a459;
    --colour-iom-red: #d14340;

    --colour-text-error: #e32350;
    
    --colour-toast-success: #498e66;

}

#toast-container > .toast-success {

    box-shadow: none !important;
    background-color: var(--colour-toast-success) !important;
    border-radius: 4px !important;
    padding: 1rem !important;

    background-image: none !important;

}

#toast-container > .toast-success:hover {

    cursor: default;

}